[submodule "vendors/Vulkan-Headers"]
	path = vendors/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendors/Vulkan-Docs"]
	path = vendors/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs
