Level(
    version: (1, 1, 0),
    inherits: Some("levels/level1.ron"),
    extensions: [
        "VK_KHR_sampler_mirror_clamp_to_edge",
        "VK_KHR_create_renderpass2",
        "VK_EXT_descriptor_indexing",
    ],
    features: (

    ),
    limits: (

    ),
    formats: (

    ),
)