Level(
    version: (1, 2, 0),
    inherits: Some("levels/level1.ron"),
    extensions: [
        "VK_KHR_copy_commands2",
        "VK_KHR_dynamic_rendering",
        "VK_KHR_maintenance4",
        "VK_EXT_extended_dynamic_state2",
    ],
    features: (

    ),
    limits: (

    ),
    formats: (

    ),
)